

<div style="width:80px;height:80px;border:1px solid #000;" [ngStyle]="{
  'background-color': color}"></div>
<div style="width:80px;height:80px;border:1px solid #000;" [ngStyle]="{
  'background-color': randomcolor}"></div>
<div style="width:80px;height:80px;border:1px solid #000;" [ngStyle]="{
'background-color': randomcolor}"></div>
<div style="width:80px;height:80px;border:1px solid #000;" [ngStyle]="{
'background-color': randomcolor}"></div>
<div style="width:80px;height:80px;border:1px solid #000;" [ngStyle]="{
'background-color': randomcolor}"></div>
<div style="width:80px;height:80px;border:1px solid #000;" [ngStyle]="{
'background-color': randomcolor}"></div>
<div style="width:80px;height:80px;border:1px solid #000;" [ngStyle]="{
'background-color': randomcolor}"></div>

<button (click)="setColor()"> Set my color </button>
